<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Модель</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Список моделей</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/add">Додати модель до списку</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<div th:each="el : ${furniture}" class="alert alert-dark mt-3" >
  <h1 th:text="${el.title}"/>
  <img th:src="${el.images}"/>
  <p> Опис: </p>
  <th th:text="${el.description}" /><br><br>
  <p>Характеристики:</p>
  <th>Колір: </th><th th:text="${el.color}"/><br>
  <th>Ширина: </th><th th:text="${el.width}"/><th> см.</th><br>
  <th>Глубина: </th><th th:text="${el.length}"/><th> см.</th><br>
  <th>Висота: </th><th th:text="${el.height}"/><th> см.</th><br>
  <form th:action="'/' +${el.id} + '/remove'" method="post">
    <button class="btn btn-danger" type="submit">Видалити модель</button>
  </form>
</div>

</body>
</html>